#set-height {
  display: block;
}
#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
p font-family helvetica {
  font-size: 24px;
}

.fs-video {
/*
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 250%;
    min-height: 250%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
*/
}

.popup1 {
    background-color: aliceblue;
    height: 25600px;
    width: 256px;
    opacity: 0;
}

.popupvis {

opacity: 1;
}
