body {
  margin: 0;
}

section {
  margin: 100vh 0;
  padding: 2em 0;
  background-color: #e2e2e2;
}

#set-height {
  display: block;
}
#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
p font-family helvetica {
  font-size: 24px;
}

/*
.fs-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 250%;
    min-height: 250%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
*/





.dipper {
/*  display: block;*/
/*  width: 300px;*/
/*  margin: 0 auto;*/
/*  opacity: 0;*/
  transition: all 200ms ease-in;
    width: 200px;
    height: 200px;
    background: red;
    z-index: 999;
}

.js-dipper-animate {
/*  opacity: 1;*/
  animation: dipper-jiggle 250ms linear;
}

@keyframes dipper-jiggle {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(15deg);
  }
  66% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0);
  }
}
